<div class="container d-flex p-4 justify-content-between">
    <div class="d-flex justify-content-center align-items-center">
        <span class="iconify float-start" data-icon="akar-icons:github-outline-fill" data-width="72"></span>
        <h1>GithubSearch</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <span class="iconify" data-icon="ant-design:facebook-outlined" data-width="36"></span>
        <span class="iconify" data-icon="jam:twitter-square" data-width="36"></span>
        <button class="btn btn-outline-dark"><span class="iconify" data-icon="logos:github"></span></button>
    </div>
</div>
<hr>
<div class="container">
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 >Search on Github</h2><br><br>
            
                <input type="search" #input (click)="showResults(input)"><br><br><br>
                <button>Search User <span class="iconify" data-icon="fa-solid:search" data-width="18"></span></button><br><br><br>
                <button>Search Repo <span class="iconify" data-icon="fa-solid:search" data-width="18"></span></button><br><br>
          
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row" *ngFor="let input of results">
        <div class="col-md-6 mb-4" >
            <img src="{{input.avatar_url}}" alt="">
           
        </div>
        <div class="col-md-6 border">
           <h3>GithubSearch: {{input.name}}</h3>
           <hr>
           <p><span class="iconify" data-icon="ph:users-three-bold" data-width="24"></span>  Followers: {{input.followers}}</p>
           <hr>
           <p><span class="iconify" data-icon="ri:user-follow-fill" data-width="24"></span> Following: {{input.following}}</p>
           <hr>
           <p><span class="iconify" data-icon="mdi:source-repository" data-width="24"></span> No of Repos: {{input.public_repos}}</p>
           <hr>
           <p class="border bg-dark text-white text-center">
            <span class="iconify" data-icon="ph:users-three-bold" data-width="24"></span> {{input.followers}}   <span class="iconify" data-icon="ri:user-follow-fill" data-width="16"></span>  {{input.following}}  <span class="iconify" data-icon="mdi:source-repository" data-width="16"></span>  {{input.public_repos}}
           </p>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>tittle</h3>
            <hr>
            <p>repo id</p>
            <hr>
            <p>repo name</p>
            <hr>
            <p>repo description</p>
        </div>
    </div>
</div>
<div class="footer">

</div>