<div class="topbar bg-dark">
    <div class=" d-flex p-4 justify-content-around text-white">
        <div class="d-flex justify-content-center align-items-center">
            <span class="iconify float-start" data-icon="akar-icons:github-outline-fill" data-width="72"></span>
            <h1>GithubSearch</h1>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <span class="iconify" data-icon="ant-design:facebook-outlined" data-width="36"></span>
            <span class="iconify" data-icon="jam:twitter-square" data-width="36"></span>
            <button class="btn btn-outline-light"><span class="iconify"data-icon="logos:github"></span></button>
        </div>
    </div>
</div>

<div class="container p-4">
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 >Search on Github</h2><br><br>
               <input type="search" #username  placeholder="Enter Github Username" id="username" ><br><br><br>
                <!-- display{{username.value}} -->
                <a target="_blank" class="btn btn-dark  " type="button"  (click)="showResults(username.value)" >Search User <span class="iconify" data-icon="fa-solid:search" data-width="18"></span></a><br><br><br>
                <a target="_blank" class="btn btn-dark  " type="button"  (click)="showRepo(username.value)" >Search Repo <span class="iconify" data-icon="fa-solid:search" data-width="18"></span></a><br><br>
            
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<hr>
<div class="container">
    <h1 class="text-center">User Found</h1>
    <div class="row" *ngFor="let input of results">
        <div class="col-md-6 mb-4 card-body" >
            <img src="{{input.avatar_url}}" alt="">
           
        </div>
        <div class="col-md-6 border">
           <h3>GithubSearch: {{input.name}}</h3>
           <hr>
           <p><span class="iconify" data-icon="ph:users-three-bold" data-width="24"></span>  Followers: {{input.followers}}</p>
           <hr>
           <p><span class="iconify" data-icon="ri:user-follow-fill" data-width="24"></span> Following: {{input.following}}</p>
           <hr>
           <p><span class="iconify" data-icon="ri:git-repository-line" data-width="24"></span> No of Repos: {{input.public_repos}}</p>
           <hr>
           <p><span class="iconify" data-icon="gg:time" data-width="24"></span> Joined on: {{input.created_at|date}}</p>
           <div class="border bg-dark text-white text-center p-2 d-flex justify-content-around">
                <p><span class="iconify" data-icon="ph:users-three-bold" data-width="24"></span> {{input.followers}}</p>  
                <p><span class="iconify" data-icon="ri:user-follow-fill" data-width="16"></span>  {{input.following}}</p>
                <p><span class="iconify" data-icon="ri:git-repository-line" data-width="24"></span>  {{input.public_repos}}</p>
                <p><span class="iconify" data-icon="gg:time" data-width="24"></span> {{input.created_at|date}}</p>
           </div>

        </div>
    </div>
</div>
<hr>
<div class="repo">
    <h1 class="text-center">Found Repositories</h1>
</div>
<div class="container" >
    <div class="row">
        <div class="col-md-4 p-4 border" *ngFor="let data of repo">
            <div class="bg-dark"><h3 class="text-white">{{data.full_name}}</h3></div>
            <hr>
            <p>Repo Id: {{data.id}}</p>
            <hr>
            <p>Repo Name: {{data.name}}</p>
            <hr>
            <p>Repo Description: {{data.description}}</p>
            <hr>
            <p>{{data.language}} <span class="iconify" data-icon="teenyicons:git-fork-solid"></span> {{data.forks_count}}</p>
            <hr>
            <p> Created {{data.created_at|daysCount}} ago</p>
            <hr>
            <a href="{{data.html_url}}"><button class="btn btn-outline-dark fs-3"><span class="iconify" data-icon="fluent:cursor-click-24-filled" data-width="48"></span>Check it out on Github</button></a>
        </div>
    </div>
</div>
<div class="footer bg-dark text-white">
    <div class="text-center p-4">
        <p>All right reserved.Copyright(c)2022.</p>
    </div>
</div>